[submodule "dependencies/csound"]
	path = dependencies/csound
	url = https://github.com/csound/csound.git
[submodule "dependencies/libsndfile"]
	path = dependencies/libsndfile
	url = https://github.com/erikd/libsndfile.git
[submodule "dependencies/eigen"]
	path = dependencies/eigen
	url = https://github.com/RLovelett/eigen.git
[submodule "dependencies/oboe"]
	path = dependencies/oboe
	url = https://github.com/google/oboe.git
[submodule "dependencies/portaudio"]
	path = dependencies/portaudio
	url = https://git.assembla.com/portaudio.git
[submodule "dependencies/luajit-2.0"]
	path = dependencies/luajit-2.0
	url = https://luajit.org/git/luajit-2.0.git
[submodule "dependencies/libmusicxml"]
	path = dependencies/libmusicxml
	url = https://github.com/grame-cncm/libmusicxml.git
[submodule "dependencies/link"]
	path = dependencies/link
	url = https://github.com/Ableton/link.git
[submodule "dependencies/stk"]
	path = dependencies/stk
	url = https://github.com/thestk/stk.git
[submodule "dependencies/liblo"]
	path = dependencies/liblo
	url = https://github.com/radarsat1/liblo.git
[submodule "CsoundForAndroid/ndk-libraries/libsndfile-android"]
	path = CsoundForAndroid/ndk-libraries/libsndfile-android
	url = https://bitbucket.org/kunstmusik/libsndfile-android.git
[submodule "CsoundForAndroid/ndk-libraries/oboe"]
	path = CsoundForAndroid/ndk-libraries/oboe
	url = https://github.com/google/oboe.git
[submodule "CsoundForAndroid/ndk-libraries/luajit-2.0"]
	path = CsoundForAndroid/ndk-libraries/luajit-2.0
	url = https://luajit.org/git/luajit-2.0.git
[submodule "CsoundForAndroid/ndk-libraries/stk"]
	path = CsoundForAndroid/ndk-libraries/stk
	url = https://github.com/thestk/stk.git
[submodule "CsoundForAndroid/ndk-libraries/liblo-android"]
	path = CsoundForAndroid/ndk-libraries/liblo-android
	url = https://bitbucket.org/michael_gogins/liblo-android
[submodule "CsoundForAndroid/ndk-libraries/link"]
	path = CsoundForAndroid/ndk-libraries/link
	url = https://github.com/Ableton/link.git
[submodule "CsoundForAndroid/ndk-libraries/fluidsynth-android"]
	path = CsoundForAndroid/ndk-libraries/fluidsynth-android
	url = https://bitbucket.org/kunstmusik/fluidsynth-android.git
[submodule "dependencies/cmask"]
	path = dependencies/cmask
	url = https://github.com/kunstmusik/cmask.git
